.skills-text{
	text-align:left;
}

@media (min-width:768px){
	.skills-text{
		text-align:right;
	}
}

.fa-download-cv{
	font-size: 19px;
    color: #52F0CB;
    top: 2px;
    position: relative;
}



ul.project_items{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.project_items li{
  background:transparent;
  margin:0px;
  border:2px solid transparent;
}

ul.project_items li span{
  font-weight: bold;
}


.fr {
  display: none;
}

video {
   width:100%;
   max-width:1100px;
   height:auto;
}

#home .hello{
  font-weight: 900;
  font-style: italic;
  color:#353F50;
  text-shadow: 2px 2px 0 #CAE3DD;
}

@media (max-width: 991px){
  #main-nav li {
    margin: 0px;
  }
}

.project-title-video{
  margin-top:-30px!important;
}

#services{
  color: #3D485A;
}